<h1>Edit your course:</h1>

<form
  method="POST"
  action="/creator/course/{{course._id}}/edit"
  enctype="multipart/form-data"
>

  <input type="text" name="title" value="{{course.title}}" />
  <textarea name="description">{{course.description}}</textarea>
  <input type="text" name="cost" value="{{course.cost}}" />
  <input type="text" name="schedule" value="{{course.schedule}}" />
  <img src="{{course.picture}}" />
  <input type="file" name="picture" accept="image/*" />

  <button>Edit your course!</button>
</form>