  <header>
    <h1 class="fs-1 fw-1">Welcome to IronCademy!</h1>
    <p>Your platform for fun learning and creating courses</p>
  </header>

  <a href="/authentication/course-create">Create your own course!</a>

    <h3>Our most popular courses:</h3>
  <div class="album py-5 bg-light">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img src="/images/lake.JPG" alt="lake" width="100%" height="225">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              </svg>

              <div class="card-body">
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      View
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      Enroll
                    </button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
             <img src="/images/developer.JPG" alt="lake" width="100%" height="225">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              </svg>

              <div class="card-body">
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      View
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      Enroll
                    </button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="/images/redsuit.JPG" alt="lake" width="100%" height="225">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              </svg>

              <div class="card-body">
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      View
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      Enroll
                    </button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
  {{#each courses}}
    <div>
      <br />
      <a href="/course/{{_id}}">{{title}}
        <br />
        {{#if picture}}
          <img id="course-picture" src="{{picture}}" alt="" />
        {{/if}}
      </a>
      <br />
      {{schedule}}
      <br />
      €{{cost}}
      <br />
      <form method="POST" action="/authentication/course/{{_id}}/enroll">
        <button>Enroll</button>
      </form>
      <span>Likes:{{likeCounter}}</span>
      {{#if liked}}
        <form method="POST" action="/authentication/course/{{_id}}/unlike">

          <button>Liked</button>
        </form>
      {{else}}
        <form method="POST" action="/authentication/course/{{_id}}/like">

          <button>Like</button>
        </form>
      {{/if}}
      <hr />
    </div>
  {{/each}}
  
