<h1>Private</h1>
<p>This page should only be accessible to authenticated users.</p>
<span><strong>Name</strong>: {{user.name}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>
<hr />
<h1>Your created courses</h1>
<hr />
{{#each createdCourses}}
  <h2>Course details:</h2>
  <div>
    <a href="/course/{{_id}}">{{title}}</a>
    {{#if picture}}
      <img src="{{picture}}" alt="Course Picture" />
    {{/if}}
    {{description}}
    {{schedule}}
    {{cost}}
    {{creator.name}}
  </div>
  <a href="/creator/course/{{_id}}/edit" class="btn">Edit Course</a>
  <form method="POST" action="/creator/course/{{_id}}/delete">
    <button>Delete Course</button>
  </form>
{{/each}}
<hr />
<h1>Enrolled in:</h1>
<hr />
{{#each enrollments}}
  <h2>Course details:</h2>
  <div>
    <a href="/course/{{courseId._id}}">{{courseId.title}}</a>
    {{#if courseId.picture}}
      <img src="{{courseId.picture}}" alt="Course Picture" />
    {{/if}}
    {{courseId.description}}
    {{courseId.schedule}}
    {{courseId.cost}}
    {{courseId.creator.name}}
  </div>
  <form method="POST" action="/authentication/course/{{courseId._id}}/unenroll">
    <button>Unenroll from this course</button>
  </form>
{{/each}}