<h2>Course details:</h2>
<div>
  {{course.title}}
  {{course.picture}}
  {{course.description}}
  {{course.schedule}}
  {{course.cost}}
  {{course.creator}}
  <a href="'/authentication/single-course'">Enroll in this course</a>
</div>