<h2>Course details:</h2>
<div>
  {{course.title}}
  {{course.picture}}
  {{course.description}}
  {{course.schedule}}
  {{course.cost}}
  {{course.creator.name}}
</div>
{{#if userIsCreator}}
  <a href="/creator/course/{{course._id}}/edit" class="btn">Edit Course</a>

  <form method="POST" action="/course/{{course._id}}/delete">
    <button>Delete Course</button>
  </form>

{{/if}}