<div class="single-view">
  <h2>Course details:</h2>
  <div>
    <h4>{{course.title}}</h4>
    {{#if course.picture}}
      <img id="course-picture" src="{{course.picture}}" alt="Course Image" />
    {{/if}}
    <br />
    <p id="course-description"><strong><h5
        >Description:</h5>{{course.description}}</strong></p>
    <p><strong>Timings: </strong>{{course.schedule}}</p>
    <p><strong>Price: €</strong>{{course.cost}}</p>
    <p><strong>Instructor: </strong>{{course.creator.name}}</p>
    <hr />
  </div>
  {{#if userIsCreator}}
    <a href="/creator/course/{{course._id}}/edit" class="edit-btn">Edit Course</a>
    <form method="POST" action="/creator/course/{{course._id}}/delete">
      <button class="btn">Delete Course</button>
    </form>
  {{/if}}
</div>