<div class="single-view">
  <h2>Course details:</h2>
  <div>
    <h4>{{course.title}}</h4>
    <br />
    {{#if course.picture}}
      <img id="course-picture" src="{{course.picture}}" alt="Course Image" />
    {{/if}}
    <br />
    {{course.description}}
    <br />
    {{course.schedule}}
    <br />
    €{{course.cost}}
    <br />
    {{course.creator.name}}
    <hr />
  </div>
  {{#if userIsCreator}}
    <a href="/creator/course/{{course._id}}/edit" class="edit-btn">Edit Course</a>
    <form method="POST" action="/creator/course/{{course._id}}/delete">
      <button class="btn">Delete Course</button>
    </form>
  {{/if}}
</div>