<h2>Course details:</h2>
{{#each courses}}
  <div>
    {{title}}
    {{picture}}
    {{description}}
    {{schedule}}
    {{cost}}
    {{creator}}
    <a href="'/authentication/single-course'">Enroll in this course</a>
  </div>
{{/each}}